In [28]:
# A tuple is a collection which is ordered and unchangeable.
# Tuples are written with round brackets.
myTuple = ("apple", "Cherry", "Banana")
print(myTuple)

('apple', 'Cherry', 'Banana')

In [29]:
# Tuples allow duplicate values:
myTuple = ("apple", "Cherry", "Banana", "pineapple", "apple", "Cherry")
print(myTuple)

('apple', 'Cherry', 'Banana', 'pineapple', 'apple', 'Cherry')

In [30]:
# Tuple Length
myTuple = ("apple", "Cherry", "Banana")
print(len(myTuple))

3

In [31]:
# Create Tuple With One Item
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thisTuple = ("apple",)
print(type(thisTuple))

<class 'tuple'>

In [32]:
# Tuple items can be of any data type
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [33]:
# A tuple can contain different data types
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [34]:
# What is the data type of a tuple?
thisTuple = ("apple", "banana", "cherry")
print(type(thisTuple))

<class 'tuple'>

In [35]:
# The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

TypeError: 'tuple' object is not callable

In [ ]:
# Access Tuple Items
# Access tuple items by referring to the index number, inside square brackets
tuple = ("Apple", "banana", "cherry")
print(tuple[1])

banana

In [ ]:
# Negative Indexing
# Negative indexing means start from the end, -1 refers to the last item, -2 refers to the second last item etc.
tuple = ("Apple", "banana", "cherry")
print(tuple[-1])

cherry

In [ ]:
# Range of Indexes
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[:5])

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [ ]:
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
# Range of Negative Indexes
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
# Check if Item Exists
tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "apple" in tuple :
    print("yes apple is in tuple")

yes apple is in tuple

In [3]:
# Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi" 
print(y)
x = tuple(y)

print(x)

['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')

In [4]:
# Add Items - append() method
thistuple = ("apple", "banana", "cherry", "kiwi", "melon", "mango")
y = list(thistuple)
print(y)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

['apple', 'banana', 'cherry', 'kiwi', 'melon', 'mango']
('apple', 'banana', 'cherry', 'kiwi', 'melon', 'mango', 'orange')

In [5]:
# Add tuple to a tuple 
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
print(y)
thistuple += y

print(thistuple)

('orange',)
('apple', 'banana', 'cherry', 'orange')

In [52]:
# Packing a tuple:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

In [53]:
# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [54]:
# using a for loop.
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [55]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [56]:
# using a while loop.
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [57]:
#  Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [58]:
# Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')